@font-face {
    font-family: "tema";
    src: url(fonts/stjedise/STJEDISE.TTF);
}
@font-face {
    font-family: "h1";
    src: url(fonts/good\ timing\ bd.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    background-image: url(images/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: white;
    font-family: "h1";
    text-shadow: slateblue 10px 10px 10px;
    margin: 20px;
}
.central{
    width: 1000px;
    min-height: 300px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.central>div{
    width: 200px;
    height: 200px;
    margin: 20px;
    top: 5px;
    background-image: url(images/vazia.png);
    background-size: contain;
    text-align: center;
    padding-top: 20px;
    color: white;
    font-family: "tema";
    cursor: pointer;
    transition: .5s;
    box-shadow: solid white 1px 1px 1px;
}
.central>div:hover{
    transition: .5s;
    border: solid rgb(184, 35, 243) 4px;
}
.ocupado{
    background-image: url(images/among.png)!important;
}